/* Estilos globais */
body {
  background-color: #D9D9D9; /* Cor LIGHT GRAY de fundo */
  font-family: 'Montserrat', sans-serif; /* Fonte Montserrat */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #FFFFFF; /* Cor SECONDARY */
  border-radius: 10px; /* Borda mais suave */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 40px; /* Espaço interno maior */
  width: 350px; /* Largura um pouco maior */
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  width: 80%;
  margin-bottom: 30px; /* Aumentar o espaçamento abaixo do logo */
}

.input-container {
  width: 100%;
  margin-bottom: 20px; /* Espaçamento maior entre os campos */
  position: relative;
}

.login-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #5A5A5A; /* Cor ACTION para os ícones */
}

.login-input {
  width: 100%;
  padding: 10px 40px; /* Espaçamento maior para os inputs */
  border: 1px solid #43D14D; /* Cor PRIMARY na borda */
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out;
}

.login-input:focus {
  border-color: #001507; /* Cor DARK GREEN ao focar */
  outline: none;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.bt-login {
  width: 100%;
  padding: 12px; /* Um pouco maior para destaque */
  background-color: #43D14D; /* Cor PRIMARY */
  color: #FFFFFF; /* Texto branco */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bt-login:hover {
  background-color: #001507; /* Cor DARK GREEN ao passar o mouse */
}

.register-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Espaço maior acima do registro */
}

.new {
  margin-bottom: 5px;
  color: #5A5A5A; /* Texto ACTION */
}

.register-login {
  color: #43D14D; /* Cor PRIMARY */
  cursor: pointer;
  transition: color 0.3s ease;
}

.register-login:hover {
  text-decoration: underline;
  color: #001507; /* Cor DARK GREEN ao passar o mouse */
}
